.navbar {
  flex-direction: column;
}
.nav-item {
  margin: 0 20px;
}
.nav-link {
  color: #094074;
  padding: 0 20px;
}
.nav-link:hover {
  color: #3c6997;
  border-bottom: 1px solid #3c6997;
  transform: scale(110%);
  transition: transform 0.3s;
}
